html{
    font-family: sans-serif;
    width: 40%;
    margin: auto;
}

h1{

}

img{

}

p{

}

#contents{
    border: 1px solid gray;
    background-color: rgb(217, 223, 224);
    margin: 3rem;
    padding: 0 2rem 1rem 2rem;
}

#contents h2{
    text-align: center;
    margin: 2rem;
}

#contents ul{
    padding: 0;
    margin: 1rem;
}

#contents li{
    padding: 0.5rem 0;
    font-size: 1.2rem;
}